ffmpeg-python
Flask
Flask_Cors
gradio>=3.7.0
numpy
pyworld
scipy
SoundFile
torch
torchaudio
torchcrepe
tqdm
rich
loguru
scikit-maad
praat-parselmouth
onnx
onnxsim
onnxoptimizer
fairseq
librosa
tensorboard
tensorboardX
transformers
edge_tts
langdetect
pyyaml
pynvml
faiss-cpu
einops
local_attention
